*{
    background-color: black;
}

fieldset{
    border: 1px solid black;
    border-radius: .5em;
    background-color: skyblue;
}
legend{
    padding: 0px 100px;
    font-size: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10em 0em 10em 0em;
}